.discount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}

.discount-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .discount {
    flex-direction: column-reverse;
  }
}
